# SUT_NODES are all the machines that will be doing some kind of 
# test procedure or function in your test environment.
SUT_NODES:
    - HOSTNAME: qavm79.rnanetworks.com
      IP: 172.18.6.79
      #MGMT_IP: xxx.xxx.xxx.xxx     # Optional specific management IP address (defaults to IP)
      IP_MASK: xxx.xxx.xxx.xxx      # Netmask for configured IP, required for configuring management network
      OS: RHEL64                    # Optional (for the time being) supported OS list TBA
      MAC: 00:50:56:00:A5:66
      VALID_ROLES: ["VSA"]
      STORES:
            - NVM:
                WWN: 500A07510203C632
            - NVM:
                WWN: 500A07510203C652
      
      ESX_HOST: fai14.rnanetworks.com
      VM_NAME: FluidCache_VSA_fai14_qavm79   # VM name (suggested use hostname or FluidCache_VSA_$hostname)
      VDS: ["vd_1","vd_2"]

    - HOSTNAME: qavm80.rnanetworks.com
      IP: 172.18.6.80 
      OS: RHEL64                        # Optional (for the time being) supported OS list TBA
      MAC: 00:50:56:00:A5:66
      VALID_ROLES: ["VSA"]
      STORES:
            - NVM:
                WWN: 500A07510203C632
            - NVM:
                WWN: 500A07510203C652
      
      ESX_HOST: fai14.rnanetworks.com
      VM_NAME: FluidCache_VSA_fai14_qavm79   # VM name (suggested use hostname or FluidCache_VSA_$hostname)
      VDS: ["vd_1","vd_2"]
      SAN_SWITCH_PORTS: {"switch-1":[1,3], "switch-2":[3]}
      NET_SWITCH_PORTS: {"switch-3":["0/3"]}
      PWR_SWITCH_PORTS: {"chtpwr.rnanetworks.com" : [1]}

CACHE_IPS: ["172.20.6.0:255.255.248.0"]

SWITCHES:
    - HOSTNAME: switch-1
      IP: 0.0.0.0
      VENDOR: Brocade       #Supported switches are brocade or force10
      USERNAME: user 
      PASSWORD: password
    - HOSTNAME: switch-2
      IP: 0.0.0.1
      VENDOR: Brocade
      USERNAME: user 
      PASSWORD: password
    - HOSTNAME: switch-3
      IP: 0.0.0.2
      VENDOR: Force10
      USERNAME: user 
      PASSWORD: password
    - HOSTNAME: switch-4
      IP: 0.0.0.3
      VENDOR: apc
      USERNAME: apc
      PASSWORD: 2cargarage

SAN:
    IP: 172.18.6.176                            # required for SAN simulator
    PORT: 8088                                  # required for SAN simulator
    ID: my_san_id                               # optional
    NAME: Great Name                            # optional 
    STATUS: Active                              # optional
    TYPE: EQL                                   # will typically (20131014) default to EQL
    VDS:
      - VD: "vd_1"                                  # volume id
        WWN: 6000D31000ED7C000000000000000026       # WWN 
        WWN_ALIAS: 6000D31000ED7C000000000080000026 # WWN alias (optional)
        IQN: ["iqn-something1","iqn-something2"]    # optional IQN. Can be string or list
        SERIAL: some_string                         # Serial number (optional)
      - VD: "vd_2"                                  # volume id
        WWN: 6000D31000ED7C00000000000000002B       # WWN
        WWN_ALIAS: 6000D31000ED7C00000000080000002B # WWN alias (optional)
        IQN: iqn-something2                         # optional IQN
        SERIAL: some_string                         # Serial number (optional)

###############################################################################
#
# A note about WWNs:
#
# In the HRM2.0 VSA space, there are two different configurations
# possible for the WWN's depending on if TGT is enabled on the VSA's.
#
# If TGT is disabled, the WWN should be the real WWN presented by the array.
# and the WWN_ALIAS is purely optional.
#
# If TGT is enabled, the WWN should be a fake WWN and the WWN_ALIAS is required
# to be the actual WWN presented by the array.
#
# For more information see: 
# https://clearspace.rnanetworks.com/clearspace/docs/DOC-3699
#
###############################################################################

      

AE_BASE_LINUX: /root/ae_dev/ae2/src/    # Base path for linux AE directory (fullpath to ae.py)    
AE_BASE_WIN32: C:\temp             # Base path for windows AE directory 
PYRO_NS_NAME: 172.18.6.51            # Public IP for Pyro nameserver (IP of test driver)
PYRO_NS_PORT: 9001                      # port for the Pyro nameserver.
LOG_SERVER: 172.18.6.51              # IP of the log server (IP of the driver)
LOG_PORT: 9021                          # Port for the log server. Defaults to 9020 if blank


### VMWARE INFORMATION ###
VMWARE:
    VSPHERE_SERVER: vsphere4.rnanetworks.com   # Hostname or IP of the vSphere server
    USERNAME: Administrator                # vSphere username. Defaults to 'root'
    PASSWORD: 2cargarage                   # vSphere password. Defaults to lab standard if user is root.
    ESX_HOSTS:
     - HOSTNAME: fai14.rnanetworks.com
       DATSTORES:       # Optional list of datastores available to use for guests     


### OPTIONAL VALUES ###

USERNAME: root                          # Optional username and password to use for starting AE services and
PASSWORD:                               # authenticating to FLDC. Default lab credentials are used otherwise
LOG_LEVEL: 0x37                         # FLDC log level setting. Defaults to 0x3.
LOG_SIZE:                               # FLDC log size in bytes. Defaults to 33554432 (32MB)
