SUITE: "A set of tests to excercise AE functionality"
DESCRIPTION: "A classic romp down memory lane where all the tests are friendly"


# Halt level for test events. 
# Options are: None | Fail | Error | Any 
HALT_LEVEL: Any

TESTLIST:


     - TESTCASE: "Timeout tests"
       DESC: "Start a series of timeout tests"
       TESTGROUP: example_tests
       TESTFILE: timeout_test.py

     - TESTCASE: "Local procedure kill test"
       DESC: "Start a long-running local asynch procedure and kill it"
       TESTGROUP: example_tests
       TESTFILE: kill_local_test.py
    
     - TESTCASE: "Remote procedure kill test"
       DESC: "Start a long remote asynch procedure and kills it"
       TESTGROUP: example_tests
       TESTFILE: kill_remote_test.py
   
     - TESTCASE: "Remote synchronous execution"
       DESC: "Does a few remote synchronous calls to each node"
       TESTGROUP: example_tests
       TESTFILE: hello_remote_sync.py

     - TESTCASE: "Local async"
       DESC: "Does local asynchronous work"
       TESTGROUP: example_tests          
       TESTFILE: hello_local_async.py           
       CASE_ARGS:
       CONFS:                                        # Test data files, the test runs with each file
         - hello_1.dat: "has a 3 second delay"       # test 1 with hello_world_fancy.py
         - hello_2.dat: "has a 6 second delay"       # test 1 with hello_world_fancy.py


    
     - TESTCASE: "Remote asynchronous execution"
       DESC: "Does a few remote asynchronous calls"
       TESTGROUP: example_tests
       TESTFILE: hello_remote_async.py
       
     - TESTCASE: "Local synch execution of a remote synch"
       DESC: "Local synchronous call with remote synchronous calls"
       TESTGROUP: example_tests
       TESTFILE: hello_local_sync_remote_sync.py
 

     - TESTCASE: "Local asynch with remote sync"
       DESC: "Does local asynch calls with remote synch"
       TESTGROUP: example_tests
       TESTFILE: hello_local_async_remote_sync.py

 
     - TESTCASE: "Local synch execution of a remote synch"
       DESC: "Does a few remote synchronous calls to each node"
       TESTGROUP: example_tests
       TESTFILE: hello_local_async_remote_sync.py
     - TESTCASE: "Local synch execution of a remote synch"
       DESC: "Does a few remote synchronous calls to each node"
       TESTGROUP: example_tests
       TESTFILE: hello_local_async_remote_sync.py

 
 
