SUITE: "Hello World Tests"
DESCRIPTION: "A classic romp down memory lane where all the tests are friendly"

#
# Halt level for test events. 
# Options are: None | Fail | Error | Any 
HALT_LEVEL: Any

TESTLIST:
    - TESTCASE: "Hello World"
      DESC: "This one says something like Hello"
      TESTGROUP: example_tests          
      TESTFILE: hello_world.py           
      CASE_ARGS:
      CONFS:
  
    - TESTCASE: "Fancy Hello World"
      DESC: "This one does asynchronous stuff"
      TESTGROUP: example_tests          
      TESTFILE: hello_world_fancy.py           
      CASE_ARGS:        
      CONFS:                                        # Test data files, the test runs with each file
       - hello_1.dat: "has a 15 second delay"       # test 1 with hello_world_fancy.py
       - hello_2.dat: "has a 10 second delay"       # test 2 with hello_world_fancy.py
  