SUITE: "SAN Demo Tests" 
DESCRIPTION: "Demonstration tests to exercise the multi-node support for the SAN release"

HALT_LEVEL: Any

TESTLIST:
#    - TESTCASE: FIO3x SAN Demo
#      DESC: "Generates three concurrent FIO loads to multiple nodes"
#      TESTGROUP: example_tests
#      TESTFILE: fio3x_demo.py
#      CASE_ARGS:
#        - failure_flag: 
#      CONFS:
#       - fio_1.dat: "100MB, does RW to /tmp"
#       #- fio_2.dat: "50MB, does W only to /tmp with offset"

    - TESTCASE: FIO Stop SAN Demo
      DESC: "Generates concurrent FIO loads and stops the long running ones mid-process"
      TESTGROUP: example_tests
      TESTFILE: fio_stop_demo.py
      CASE_ARGS:
      CONFS:
