SUITE: " Test space Feature ABC NIGHTLY"
DESCRIPTION: "This is suite covers some feature"

# Halt level for test events. 
# Options are: None | Fail | Error | Any 
HALT_LEVEL: Any

# Default timeout (in seconds) before a test procedure timesout 
PROCEDURE_TIMEOUT: 900

# Triage preset method to run after on failure|error event
# This is defined in lib.presets.TriagePresets.the_method
# Can also be set to Disabled
TRIAGE_PRESET: disabled


TESTLIST:
    - TESTCASE: Example API requests                  # Test Case name
      DESC: "Stuff" 
      TESTGROUP: example_tests                        # directory under test_cases
      TESTFILE: simple_api_request.py                 # testcase .py file name 
      ITERATIONS: 50                                  # number of times to run the test case           
      CASE_ARGS:                                      # applies to all testcase instances
      CONFS:
      
    - TESTCASE: FIO examples
      DESC: "FIO example"
      TESTGROUP: example_tests          # directory under test_cases
      TESTFILE: fio_example.py          # testcase.py file name 
      CASE_ARGS:
        - failure_flag: 
      CONFS:
       - fio_1.dat: "100MB, does RW to /tmp"
       - fio_2.dat: "50MB, does W only to /tmp with offset"